In [4]:
import db
import json
import load_eateries as load
import numpy as np
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'sqlalchemy'

In [5]:
engine = create_engine(load.dsn, echo=True)
connection = engine.connect()

NameError: name 'create_engine' is not defined

In [6]:
result = connection.execute("select distinct borough_name, count(borough_name) from (select (case when borough = 'X' then 'Bronx' when borough = 'B' then 'Brooklyn' when borough = 'M' then 'Manhattan' when borough = 'Q' then 'Queens' when borough = 'R' then 'Staten Island' End) as borough_name, whether_cart  from (select LEFT(park_id, 1) as borough,  (CASE WHEN eatery_type_id like '%Food%' or eatery_type_id like '%Fruit%' or eatery_type_id like '%Specialty%' then 'Cart' when eatery_type_id like '%Rest%' then 'Restaurant' when eatery_type_id like 'Snack%' then 'Snack Bar' when eatery_type_id like 'Mobile%' then 'Mobile Food Truck' END) as whether_cart from eatery) as a) as b group by borough_name")

NameError: name 'connection' is not defined

In [7]:
data = []
borough = []
for row in result:
    data.append(int(row[1]))
    borough.append(str(row[0]))
connection.close()

NameError: name 'result' is not defined

In [8]:
ind = np.arange(len(data))        # the x locations for the groups
width = 0.35                      # the width of the bars

## the bars
rects1 = ax.bar(ind, data, width)
ax.set_xlim(-width,len(ind)+width)
ax.set_ylim(0,45)
ax.set_ylabel('Number of Eateries per Borough')
ax.set_xlabel('Name of Each Borough')
ax.set_title('Bar Chart Comparing eEteries per Borough')

ax.set_xticks(ind+width)
xtickNames = ax.set_xticklabels(borough)
plt.setp(xtickNames, rotation=45, fontsize=10)

plt.show()

NameError: name 'np' is not defined